@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

body {
    background-color: #2E2B2B;
    color: white;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
}

a {
    color : whitesmoke;
}

div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    padding: 0;
    line-height: 10px;
}